requests>=2.26.0
fastapi>=0.70.0
fastapi_login >= 1.8.3
uvicorn>=0.15.0
python-dotenv>=0.19.1
aiofiles>=0.7.0
python-multipart>=0.0.5
jinja2>=3.0.2
Markdown>=3.3.4
pytest>=6.2.5
bcrypt >= 4.0.1
datetime >= 4.4
pymongo >= 4.3.3
gunicorn >= 20.1.0
imagekitio >= 3.0.1
motor >= 3.1.1