body {
    padding: 40px;
    background-image: linear-gradient(#e8f0ff 0%, white 52.08%);
    color: #0e3481;
    min-height: 100vh;
}
.header .lead {
    max-width: 728px;
}

.form-control{
    width: 50%;
}
/** Below CSS is completely optional **/

