<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Multiple-Uploader.js</title>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', path='/libraries/jquery-image-uploader/styles/image-uploader.min.css') }}">

</head>
<body>


<form method="POST" action="/upload" name="form-upload-images" id="form-upload-images" enctype="multipart/form-data">
    <div class="input-images"></div>
    <button>Upload</button>
</form>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="{{ url_for('static', path='/libraries/jquery-image-uploader/js/image-uploader.min.js') }}"></script>
<script>
    $(document).ready(function() {
    $('.input-images').imageUploader();
        $('#form-upload-images').submit(function(e) {
            $("input[name='images[]']").attr("name", "images");
        });
    });

</script>

</body>
</html>
